{% extends "base.html" %}
{% block maincontent %}

<h2>Explainers</h2>
<p>The following page is a work-in-progress. Die folgende Seite ist unvollsta&#776;ndig.</p>
<p>When I have some time, I will reinstate my old maths blog posts here, with updates.</p>

<div class="row">
  <div class="coloured_brick" style="background-color:#33EEFF"></div> <a href="matroids">Matroids for Graph Theory</a> <p style="color:#AAAAAA">or: I'm a graph theorist! Why should I care about matroids?</p> [under construction]
</div>

{% endblock  %}
