{% extends "base.html" %}
{% block maincontent %}

<p>Hello I'm Will and this is my wesite. I write mathematics and a bit of fiction. I am a research assistant and doctoral candidate in mathematics at TU Freiberg, Saxony. I also have a few other side-projects and I was previously based in Birmingham, UK.</p>
<div class="row">
  <div class="coloured_brick" style="background-color:#33EEFF"></div> I research structural and topological combinatorics. You can find my research <a href="research.html">here</a>. Check <a href="https://arxiv.org/abs/2504.00704">this</a> out for an example.
</div>
<div class="row">
  <div class="coloured_brick" style="background-color:#00DDAA"></div> I write fiction, sometimes poetry. I might share some of that <a href="writing.html">here</a>.
</div>
<div class="row">
  <div class="coloured_brick" style="background-color:#AAAAAA"></div> I sometimes make explainers for maths concepts that lack good accessible explanations. These can be found <a href="explainers.html">here</a>.
</div>
<div class="row">
  <div class="coloured_brick" style="background-color:#FFCCDD"></div> See my side projects <a href="hijinks.html">here</a>.
</div>
<div class="row">
  <div class="coloured_brick" style="background-color:#EEEE33"></div> I thought it would be fun to have an online list of all the books I have and which ones are leant out and which ones are free to be borrowed by friends. This can be found <a href="library.html">here</a>.
</div>

<p>This website is currently under construction and so are its aesthetics. I'm working on expanding its functionality and making it look a little less rustic.</p>

{% endblock  %}
