{% extends "base.html" %}
{% block maincontent %}

<h2>Research</h2>
<p>
  I am a research assistant and doctoral candidate at TU Bergakademie Freiberg, Sachsen. A link to my group's webpage can be found <a href="https://tu-freiberg.de/en/fakultaet1/institutes/institute-discrete-mathematics-and-algebra">here</a>. I am in the structural combinatorics team headed by <a href="https://j-carmesin.github.io/">Prof. Johannes Carmesin</a>.
</p>
<h3>Current research interests</h3>
<div class="row">
  <div class="coloured_brick" style="background-color:#6b66ad"></div> <em>Topological combinatorics.</em> Planar graph theory and higher-dimensional analogues.
</div>
<div class="row">
  <div class="coloured_brick" style="background-color:#e2b25f"></div> <em>Connectivity theory and graph decomposition.</em> Finding and using canonical ways to break down combinatorial objects.
</div>
<div class="row">
  <div class="coloured_brick" style="background-color:#a16cc1"></div> <em>Matroids.</em> Matroid representability.
</div>
I often combine the above with <em>complexity theory</em> and sometimes <em>category theory</em>.

<h3>Ongoing collaborations</h3>
<div class="row">
  <div class="coloured_brick" style="background-color:#444444"></div> I am working with <a href="https://j-carmesin.github.io/">Prof. Johannes Carmesin</a> developing a graph minor theory for temporal sequences.
</div>
<div class="row">
  <div class="coloured_brick" style="background-color:#444444"></div> I am working with <a href="https://bmbumpus.com/">Dr Benjamin Merlin Bumpus</a> using a category-theory lense to prove things in combinatorics.
</div>

<h3>Papers</h3>
<table class="paper">
  <col style="width: 50%;">
  <col style="width: 50%;">
  <tr> <td><em>A graph minors approach to temporal sequences</em></td> <td style="text-align:right;">Johannes Carmesin, Will J. Turner</td> </tr>
  <tr> <td style="color:#AAAAAA">preprint April 2025</td> <td style="text-align:right;"><a href="https://arxiv.org/abs/2504.00704">arxiv</a></td> </tr>
</table>
<table class="paper">
  <col style="width: 50%;">
  <col style="width: 50%;">
  <tr> <td><em>Pushing tree decompositions along graph homomorphisms</em></td> <td style="text-align:right;">Benjamin Merlin Bumpus, James Fairbanks, Will J. Turner</td> </tr>
  <tr> <td style="color:#AAAAAA">preprint August 2024</td> <td style="text-align:right;"><a href="https://arxiv.org/abs/2408.15184">arxiv</a></td> </tr>
</table>
<table class="paper">
  <col style="width: 50%;">
  <col style="width: 50%;">
  <tr> <td><em>Towards a Stallings-type theorem for finite groups</em></td> <td style="text-align:right;">Johannes Carmesin, Jan Kurkofka, George Kontogeorgiou, Will J. Turner</td> </tr>
  <tr> <td style="color:#AAAAAA">preprint March 2024</td> <td style="text-align:right;"><a href="https://arxiv.org/abs/2403.07776">arxiv</a></td> </tr>
</table>

<h3>Upcoming events</h3>
<div class="row">
  <div style="width:33%"><em>Bertinoro Worshop on Algorithms and Graphs</em></div><div style="width:33%">Bertinoro</div> <div style="width:33%">October 2025</div>
</div>
<div class="row">
  <div style="width:33%"><em>ProofBench Initiative</em></div><div style="width:33%">TU Freiberg</div> <div style="width:33%">September 2025</div>
</div>

<h3>Selected talks</h3>
<div class="row">
  <div style="width:33%"><em>Temporal sequences</em></div><div style="width:33%">SEG workshop Chemnitz</div> <div style="width:33%">30th June 2025</div>
</div>
<div class="row">
  <div style="width:33%"><em>Invited Minisymposium: Matroid Theory</em></div><div style="width:33%">CanaDAM - U Ottowa</div> <div style="width:33%">22nd May 2025</div>
</div>
<div class="row">
  <div style="width:33%"><em>A graph minors approach to temporal sequences</em></div><div style="width:33%">Forschungsseminare - U Hamburg</div> <div style="width:33%">29th Apr 2025</div>
</div>
<div class="row">
  <div style="width:33%"><em>Coloured matroid reconstruction: part 2</em></div><div style="width:33%">Research Seminar DMA - TU Freiberg</div> <div style="width:33%">06th Nov 2024</div>
</div>
<div class="row">
  <div style="width:33%"><em>Coloured matroid reconstruction: part 1</em></div><div style="width:33%">Research Seminar DMA - TU Freiberg</div> <div style="width:33%">30th Oct 2024</div>
</div>
<div class="row">
  <div style="width:33%"><em>Towards a Stallings-type theorem for finite groups: part 2</em></div><div style="width:33%">Research Seminar DMA - TU Freiberg</div> <div style="width:33%">03rd Jul 2024</div>
</div>
<div class="row">
  <div style="width:33%"><em>Towards a Stallings-type theorem for finite groups: part 1</em></div><div style="width:33%">Research Seminar DMA - TU Freiberg</div> <div style="width:33%">22nd May 2024</div>
</div>
<div class="row">
  <div style="width:33%"><em>A forbidden substructure characterisation of temporal planarity</em></div><div style="width:33%">Combinatorics Seminar - University of Warwick</div> <div style="width:33%">23nd Feb 2024</div>
</div>
<div class="row">
  <div style="width:33%"><em>Forbidden Spiders: a forbidden substructure characterisation of temporal planarity</em></div><div style="width:33%">Combinatorics Seminar - University of Birmingham</div> <div style="width:33%">12th Oct 2023</div>
</div>
<div class="row">
  <div style="width:33%"><em>Local separators of Cayley graphs</em></div><div style="width:33%">QTMC Conference - Queen Mary University London</div> <div style="width:33%">07th Jul 2023</div>
</div>
<div class="row">
  <div style="width:33%"><em>What on earth is a matroid: A journey through topological graph theory to Rota's conjecture</em></div><div style="width:33%">Pure D&eacute;tour - University of Birmingham</div> <div style="width:33%">21st Apr 2023</div>
</div>
<div class="row">
  <div style="width:33%"><em>Local separators of Cayley graphs</em></div><div style="width:33%">Postgraduate Combinatorics Conference - University of Birmingham</div> <div style="width:33%">29th Mar 2023</div>
</div>


<h3>Demonstrating</h3>
<div class="row">
  <div style="width:33%"><em>Komplexit&auml;tstheorie exercise classes </em></div><div style="width:33%">TU Freiberg</div> <div style="width:33%">Summer 2025</div>
</div>
<div class="row">
  <div style="width:33%"><em>Algorithmic Graph Theory 2 exercise classes </em></div><div style="width:33%">TU Freiberg</div> <div style="width:33%">Summer 2025</div>
</div>
<div class="row">
  <div style="width:33%"><em>Algorithmic Geometry exercise classes</em></div><div style="width:33%">TU Freiberg</div> <div style="width:33%">Winter 2024</div>
</div>
<div class="row">
  <div style="width:33%"><em>Algorithmics exercise classes</em></div><div style="width:33%">TU Freiberg</div> <div style="width:33%">Summer 2024</div>
</div>

{% endblock  %}
