{% extends "base.html" %}
{% block maincontent %}

<h2>Writing</h2>

<p>I sometimes write fiction and poetry.</p>

<h3>Novellas</h3>
I have written a few novellas. Here is one:

<table class="paper">
  <col style="width: 50%;">
  <col style="width: 50%;">
  <tr> <td><em>novella #3: Another Needle</em></td> <td style="text-align:right;">Will J. Turner</td> </tr>
  <tr> <td style="color:#AAAAAA">draft complete April 2024</td> <td style="text-align:right;"><a href="another_needle">Another Needle</a></td> </tr>
</table>

<h3>Poetry</h3>
I have written some poetry. Here it is:
<table class="paper">
  <col style="width: 50%;">
  <col style="width: 50%;">
  <tr> <td><em>First Stitch</em></td> <td style="text-align:right;">Will J. Turner</td> </tr>
  <tr> <td style="color:#AAAAAA">published <a href="https://www.newwordspress.com/issue-five-a-trans-gender-expansive-poetry-journal/">New Words Press</a> December 2024</td> <td style="text-align:right;"><a href="first_stitch">First Stitch</a></td> </tr>
</table>


<h3>Shorts</h3>
Maybe I'll write some shorter fiction, eventually.

{% endblock  %}
